version: '3.7'

services:
  postgres:
    image: postgis/postgis:12-2.5-alpine
    ports:
      - "5434:5432"
    environment:
      POSTGRES_PASSWORD: opendatacubepassword
    restart: always

  ows:
    image: opendatacube/ows:latest
    environment:
      DB_HOSTNAME: postgres
      DB_USERNAME: postgres
      DB_PASSWORD: opendatacubepassword
      DB_DATABASE: postgres
      DB_PORT: 5432
      PYTHONPATH: /env/config
      DATACUBE_OWS_CFG: ows_refactored.dev_af_ows_root_cfg.ows_cfg
    depends_on:
      - postgres
    volumes:
      - ./services/ows_refactored:/env/config/ows_refactored/
      - ./services/inventory:/env/config/inventory/
