name: Check Product Lists

on:
  push:
    paths:
      - "products/**"
      - "dev/products_dev.csv"
      - "prod/products_prod.csv"
      - ".github/workflows/product-lists-test.yaml"

  pull_request:
    branches: [master]
    paths:
      - "products/**"
      - "dev/products_dev.csv"
      - "prod/products_prod.csv"
      - ".github/workflows/product-lists-test.yaml"

jobs:
  test-product-lists:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Check prod
        timeout-minutes: 20
        shell: bash
        run: |
          docker-compose -f docker-compose.products.yaml pull
          docker-compose -f docker-compose.products.yaml up -d
          sed -i "s,https://raw.githubusercontent.com/digitalearthafrica/config/master/,/conf/,g" prod/products_prod.csv
          sleep 3
          docker-compose -f docker-compose.products.yaml exec -T products-tester datacube system init
          docker-compose -f docker-compose.products.yaml exec -T products-tester dc-sync-products /conf/products_prod.csv
          docker-compose -f docker-compose.products.yaml down

      - name: Check dev
        timeout-minutes: 20
        shell: bash
        run: |
          docker-compose -f docker-compose.products.yaml up -d
          sed -i "s,https://raw.githubusercontent.com/digitalearthafrica/config/master/,/conf/,g" dev/products_dev.csv
          sleep 3
          docker-compose -f docker-compose.products.yaml exec -T products-tester datacube system init
          docker-compose -f docker-compose.products.yaml exec -T products-tester dc-sync-products /conf/products_dev.csv
          docker-compose -f docker-compose.products.yaml down
